
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2">PCode</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="txtPCode">
                        <input type="text" class="none" id="txtId" />
                    </div>
                    <label class="col-sm-2">Description</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtDescription" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Specimen</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="txtSpecimen"></select>
                    </div>
                    <label class="col-sm-2">Reportfile Name</label>
                    <div class="col-sm-4">
                        <select class="form-control required select2" id="txtReportfile"></select>
                    </div>
                </div>
                <div class="emptyValue">
                    <div class="form-group">
                        <label class="col-sm-2">Parameter Name</label>
                        <div class="col-sm-4">
                            <select class="form-control select2" id="txtParameterName"></select>
                        </div>
                        <label class="col-sm-2">Alias Name</label>
                        <div class="col-sm-4">
                            <select class="form-control select2" id="txtAliasName"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Unit</label>
                        <div class="col-sm-4">
                            <select class="form-control select2" id="txtUnit"></select>
                        </div>
                        <label class="col-sm-2">Reporting Group</label>
                        <div class="col-sm-4">
                            <select class="form-control select2" id="txtReportingGroup"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Serial No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="txtSerialNo" />
                        </div>
                        <label class="col-sm-2">Group No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="txtGroupNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Normal Value</label>
                        <div class="col-sm-4 txtNormalValue">
                            <textarea class="form-control summernote" id="txtNormalValue"></textarea>
                        </div>
                        <label class="col-sm-2">Result</label>
                        <div class="col-sm-4 txtResult">
                            <textarea class="form-control summernote" id="txtResult"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group text-right">
                    <input type="submit" class="btn btn-info btn-sm" id="btdAdd" onclick="Add();" value="Add To Grid">
                </div>
                <div class="box box-info">
                    <div class="box-body">
                        <div class="form-group">
                            <table class="table table-striped table-hover table-bordered ">
                                <thead>
                                    <tr>
                                        <th class='col-sm-2'>Parameter</th>
                                        <th class='col-sm-3'>Alias</th>
                                        <th class='col-sm-2'>Normal Value</th>
                                        <th class='col-sm-1'>Unit</th>
                                        <th class='col-sm-1'>Group</th>
                                        <th>SLNo</th>
                                        <th>GroupNo</th>
                                        <th class='col-sm-2'>Result</th>
                                        <th class='col-sm-1'>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-left" id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="button-group text-right">
                    <input type="submit" class="btn btn-info" id="save" onclick="Save();" value="Save">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {        document.addEventListener("keydown", function (e) {
            if (e.altKey && e.keyCode == 83) {
                $('#btdAdd').focus().click();
            }
        });
        GetReportfileName();
        GetAliasName();
        GetParameterName();
        GetReportingGroupName();
        GetSpecimenName();
        GetUnitName();
        $('#txtPCode').autocomplete({
            source: function(request, response) {
                $.ajax({
                    type: "GET",
                    url: apiUrl + "ClinicalChartApi/GetClinicalChartList",
                    dataType: "Json",
                    data: { 'searchString': $("#txtPCode").val() },
                    success: function(data) {
                        response(data.slice(0, 10));
                    }
                });
            },
            select: function(event, ui) {
                $('#txtId').val(ui.item.itemId);
                $('#txtPCode').val(ui.item.pCode);
                $('#txtDescription').val(ui.item.description);
                $("#btnSave").val("Update");
                getParameter(ui.item.itemId);
                return false;
            },
            minLength: 3
        }).data("ui-autocomplete")._renderItem = function(ul, item) {
            if (ul.children().length === 0) {
                $("<thead><tr><th>PCode</th><th>Description</th><th>Charge</th></tr></thead>").appendTo(ul);
            }
            var html = "<td>" + item.pCode + "</td>";
            html += "<td>" + item.description + "</td>";
            html += "<td>" + item.charge + "</td>";
            return $("<tr></tr>").append(html).appendTo(ul);
        };
    });
    function getParameter(param) {
        $.ajax({
            url: apiUrl + "LabParameterEntryApi/GetParameterListByItemId",
            type: "GET",
            datatype: "json",
            data: { 'itemId': param },
            success: function (data) {
                $('#tbody').empty();
                $('#txtSpecimen option:selected').text(data[0].specimen);
                $('#txtParamViewType').val(data[0].paramViewType);
                $.each(data, function (key, item) {
                    var rows = "<tr>"
                        + "<td>" + item.parameterName + "</td>"
                        + "<td>" + item.aliasName + "</td>"
                        + "<td>" + item.normalValue + "</td>"
                        + "<td>" + item.unit + "</td>"
                        + "<td>" + item.groupName + "</td>"
                        + "<td>" + item.itemSlNo + "</td>"
                        + "<td>" + item.groupSlNo + "</td>"
                        + "<td>" + item.result + "</td>"
                        + "<td><a href='javascript:;' class='editRow'><span class='glyphicon glyphicon-edit'></span></a></td>"
                        + "</tr>";
                    $('#tbody').append(rows);
                });
            },
        });
    }

    function GetReportfileName() {
        $.ajax({
            url: apiUrl + "LabParameterEntryothersApi/getreportfilename",
            type: 'GET',
            datatype: JSON,
            success: function (data) {
                $('#txtReportfile').html($("<option></option>").attr("value", 1).text("-- Select --"));
                $.each(data, function (key, item) {
                    var rows = "<option value='" + item.name + "'>" + item.name + "</option>";
                    $('#txtReportfile').append(rows);
                });
            },
            error: function (errormessage) { alert(errormessage.responseText); }
        });
        return false;
    }

    function GetAliasName() {
        $.ajax({
            url: apiUrl + "LabParameterEntryApi/GetAliasName",
            type: 'GET',
            datatype: JSON,
            success: function(data) {
                $('#txtAliasName').html($("<option></option>").attr("value", 1).text("-- Select --"));
                $.each(data, function(key, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#txtAliasName').append(rows);
                });
            },
            error: function(errormessage) { alert(errormessage.responseText); }
        });
        return false;
    }

    function GetParameterName() {
        $.ajax({
            url: apiUrl + "LabParameterEntryApi/GetParameterName",
            type: 'GET',
            datatype: JSON,
            success: function(data) {
                $('#txtParameterName').html($("<option></option>").attr("value", 1).text("-- Select --"));
                $.each(data, function(key, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#txtParameterName').append(rows);
                });
            },
            error: function(errormessage) { alert(errormessage.responseText); }
        });
        return false;
    }

    function GetReportingGroupName() {
        $.ajax({
            url: apiUrl + "LabParameterEntryApi/GetReportingGroupName",
            type: 'GET',
            datatype: JSON,
            success: function(data) {
                $('#txtReportingGroup').html($("<option></option>").attr("value", 1).text("-- Select --"));
                $.each(data, function(key, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#txtReportingGroup').append(rows);
                });
            },
            error: function(errormessage) { alert(errormessage.responseText); }
        });
        return false;
    }

    function GetSpecimenName() {
        $.ajax({
            url: apiUrl + "LabParameterEntryApi/GetSpecimenName",
            type: 'GET',
            datatype: JSON,
            success: function(data) {
                $('#txtSpecimen').html($("<option></option>").attr("value", 0).text("-- Select --"));
                $.each(data, function(key, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#txtSpecimen').append(rows);
                });
            },
            error: function(errormessage) { alert(errormessage.responseText); }
        });
        return false;
    }

    function GetUnitName() {
        $.ajax({
            url: apiUrl + "LabParameterEntryApi/GetUnitName",
            type: 'GET',
            datatype: JSON,
            success: function(data) {
                $('#txtUnit').html($("<option></option>").attr("value", 1).text("-- Select --"));
                $.each(data, function(key, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#txtUnit').append(rows);
                });
            },
            error: function(errormessage) { alert(errormessage.responseText); }
        });
        return false;
    }

    function Add() {
        var res = validate();
        if (res == false) {
            return false;
        }

        var html = '';
        html += '<tr>';
        html += '<td>' + $("#txtParameterName option:selected").text() + '</td>';
        html += '<td>' + $("#txtAliasName option:selected").text() + '</td>';
        html += '<td>' + $("#txtNormalValue").val() + '</td>';
        html += '<td>' + $("#txtUnit option:selected").text() + '</td>';
        html += '<td>' + $("#txtReportingGroup option:selected").text() + '</td>';
        html += '<td>' + $("#txtSerialNo").val() + '</td>';
        html += '<td>' + $("#txtGroupNo").val() + '</td>';
        html += '<td>' + $("#txtResult").val() + '</td>';
        html += '<td><a href="javascript:;" class="editRow"><span class="glyphicon glyphicon-edit"></span></a></td>';
        html += '</tr>';
        $('#tbody').append(html);
        $('.emptyValue input').val('');
        $('.emptyValue select').val('').trigger('change');;
        $('.emptyValue .note-editable').empty();
        return false;
    }

    function validate() {
        var isValid = true;
        var table = $("table #tbody");
        var itemId = $("#txtParameterName").val();
        table.find('tr').each(function (i) {
            var $tds = $(this).find('td'),
                tableValue = $tds.eq(1).text();
            if (tableValue == itemId) {
                alert("Already Exist");
                $("#txtParameterName").select().focus();
                isValid = false;
            }
        });
        if ($('#txtPCode').val() == 0) { alert("Please add Clinical Chart Item."); isValid = false; }
        if ($('#txtParameterName').val() == 1) { alert("Please Select Parameter."); isValid = false; }
        if ($('#txtAliasName').val() == 1) { alert("Please Select Alias."); isValid = false; }
        if ($('#txtUnit').val() == 1) {$('#txtUnit').val(''); }
        if ($('#txtReportingGroup').val() == 1) { $('#txtReportingGroup').val(''); } 
        if ($('#txtSerialNo').val() == 0) { alert("Please Select Serial No."); isValid = false; }
        if ($('#txtGroupNo').val() == 0) { alert("Please Select Group No."); isValid = false; }
        return isValid;
    }
    $("table #tbody").on("click", "a.editRow", function (event) {
        event.preventDefault();
        var $rows = $(this).closest('tr');
        $("#txtParameterName").append($('<option></option>').val(0).html($rows.find('td').eq(0).text()).prop('selected', true));
        $("#txtAliasName").append($('<option></option>').val(0).html($rows.find('td').eq(1).text()).prop('selected', true));
        $(".txtNormalValue .note-editable").html($rows.find('td').eq(2).html());
        $("#txtUnit").append($('<option></option>').val(0).html($rows.find('td').eq(3).text()).prop('selected', true));
        $("#txtReportingGroup").append($('<option></option>').val(0).html($rows.find('td').eq(4).text()).prop('selected', true));
        $("#txtSerialNo").val($rows.find('td').eq(5).text());
        $("#txtGroupNo").val($rows.find('td').eq(6).text());
        $(".txtResult .note-editable").html($rows.find('td').eq(7).html());
        $(this).closest('tr').remove();
        return false;
    });

    function Save() {
        var res = validation();
        var custom = customvalid();
        if (res & custom == true) {
            var vouchers = [];
            var table = $('table #tbody');
            table.find('tr').each(function() {
                var $tds = $(this).find('td'),
                    tParameterName = $tds.eq(0).text(),
                    tAliasName = $tds.eq(1).text(),
                    tNormalValue = $tds.eq(2).html(),
                    tUnit = $tds.eq(3).text(),
                    tGroupName = $tds.eq(4).text(),
                    tGroupSlNo = $tds.eq(6).text(),
                    tItemSlNo = $tds.eq(5).text(),
                    tResult = $tds.eq(7).html();

                var voucher = {
                    ItemId: $("#txtId").val(),
                    Specimen: $("#txtSpecimen option:selected").text(),
                    AliasName: tAliasName,
                    ParameterName: tParameterName,
                    Result: tResult,
                    Unit: tUnit,
                    NormalValue: tNormalValue,
                    GroupName: tGroupName,
                    GroupSlNo: tGroupSlNo,
                    ItemSlNo: tItemSlNo,
                    Reportfilename: $("#txtReportfile option:selected").text(),
                    @*UserName: "@System.Web.HttpContext.Current.Session["UserName"]",*@
                    };
                vouchers.push(voucher);
            });
            //alert(JSON.stringify(vouchers));
            $.ajax({
                type: "Post",
                url: apiUrl + "LabParameterEntryApi/Post",
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                data: JSON.stringify(vouchers),
                success: function (data) {
                    if (data.output != "error") {
                        alert(data.msg);
                        location.reload(true);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
        else {
            alert("Please fill required field");
        }
        return false;
    }
    function customvalid() {
        var isValid = true;
        if ($('#tbody').html() == '') { alert('Please add an item to table grid.'); isValid = false; }

        return isValid;
    }
</script>