App_Browsers/*
App_Code/*
App_Data/*
App_Start/*
aspnet_client/*
bin/*
obj/*
Properties/*
Rotativa/*
Report/ReportFile/*.cs
favicon.ico
Global.asax
Global.asax.cs
HospitalManagementApp_Api.csproj
HospitalManagementApp_Api.csproj.user
packages.config
Web.config
Web.Debug.config
Web.Release.config