.footer-menu a{color: #53b458;margin-right: 10px;font-weight: 600;} 
.footer-menu a:hover{color: #fc9a04;border-bottom: 2px solid;} 
.img-responsive{height: auto;width: 100%;}
.single-organic-product img{ height: 140px;}