@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-body">
                <div class="none">
                    <input type="text" class="form-control" id="txtId">
                </div>

                <div class="form-group">
                    <label class="col-sm-2">Month Name</label>
                    <div class="col-sm-4">
                        <select class="form-control required select2 selectNoAdd" id="txtMonth" name="txtMonth"></select>
                    </div>
                    <label class="col-sm-2">Years</label>
                    <div class="col-sm-4">
                        <select class=" form-control isnumber year select2" id="txtYear"></select>
                    </div>
                </div>
                @*<div class="form-group">
                <label class="col-sm-2">Employee ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control " id="txtEmployeeId">
                </div>
                <label class="col-sm-2">Department Name</label>
                <div class="col-sm-4">
                    <select class="form-control defaultNA select2 selectNoAdd" id="txtDepartment" name="txtDepartment"></select>
                </div>
                </div>*@
                <div class="button-group text-center">
                    <input type="submit" class="btn btn-sm btn-success" id="btnSave" onclick="Save();" value="Save">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetMonth();
        GetDepartmentName();
    });
    

    function GetMonth() {
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetGenderList", "SalaryCreateApi")",
            dataType: "Json",
            success: function (data) {
                $('#txtMonth').html($("<option></option>").attr("value", 0).text("-- Select --"));
                $.each(data, function (key, item) {
                    var rows = "<option value=" + item.id + ">" + item.name + "</option>";
                    $('#txtMonth').append(rows);
                });
            },
            error: function (errormessage) { alert(errormessage.responseText); }
        });
    }

    function GetDepartmentName() {
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetDepartmentNameList", "SalaryCreateApi")",
            dataType: "Json",
        success: function (data) {
            $('#txtDepartment').html($("<option></option>").attr("value", 0).text("-- Select --"));
            $.each(data, function (key, item) {
                var rows = "<option value=" + item.id + ">" + item.name + "</option>";
                $('#txtDepartment').append(rows);
            });
        },
        error: function (errormessage) { alert(errormessage.responseText); }
    });
    }
    function Save() {
        var res = validation();
        if (res == true) {
            var object = {
                MonthId: $('#txtMonth').val(),
                AttYear: $('#txtYear').val(),
                EmpId: $('#txtEmployeeId').val(),
                DeparmentId: $('#txtDepartment').val(),
            };
            //alert(JSON.stringify(object));
            //return false;
            $.ajax({
                url: "@UrlConfig.Action("Post", "SalaryCreateApi")",
                data: JSON.stringify(object),
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            datatype: JSON,
            success: function (data) {
                if (data.output != "error") {
                    alert(data.msg);
                    location.reload(true);
                } else {
                    alert(data.msg);
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
    else {
            alert("Please fill required field");
    }
    return false;
    }
    function validation() {
        var isValid = true;

        return isValid;
    }
</script>
