
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-info">
            <div class="box-body">
                <div class="form-group">
                    <table class="table table-bordered table-striped table-hover datatable">
                        <tbody id="dataget"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box box-info none getData">
            <div class="box-body">
                <div class="form-group table-scrollable">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Investigation Name</th>
                                <th class="text-center">Charge</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Total</th>
                                <th class="text-center">Vat</th>
                                <th class="text-center">S.C</th>
                                <th class="text-center">G.Total</th>
                                <th class="text-center">Adjust</th>
                                <th class="text-center">Less</th>
                                <th class="text-center">Return</th>
                                <th class="text-center">CollAmt</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="tbody"></tbody>
                    </table>
                </div>
                <div class="form-group text-right">
                    <p id="txtTotalDue" style="color: red;font-size: 18px;font-weight: 700;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable() {
        $(".datatable").DataTable({
            destroy: true,
            "ajax": {
                url: apiUrl + "AdmissionApi/GetAdmittedPatientList?id=0&searchString=0",
                dataSrc: "",
            },
            "columns": [
                    { "data": "patientId", "title": "PatientId" },
                    { "data": "ptName", "title": "Name" },
                    { "data": "ptMobileNo", "title": "MobileNo" },
                    { "data": "ptAddress", "title": "Address" },
                    { "data": "admissionDate", "title": "Admission Date", "render": function (data) { return (ToJsonDate(data)); } },
                    { "data": "underDrName", "title": "Dr Name" },
                    { "data": "bedNo", "title": "Bed No" },
                    {
                        "data": "ptIndoorId", width: "30px", "title": "Action",
                        "render": function (data) {
                            return "<a href='javascript:;' class='md-trigger' onclick='return clinicalChart(" + data + ")'><span class='glyphicon glyphicon-link'></span></a>";
                        }
                    }
            ]

        });
    }


    function clinicalChart(param) {
        $(".getData").removeClass('none');
        $(".getData").addClass(param);
        $(".param").stop(true, true).fadeToggle();
        $.ajax({
            type: "GET",
            url: apiUrl + "IndoorPatientReleaseApi/GetCurrentPatientDue",
            dataType: "Json",
            data: { 'indoorId': param },
            success: function (data) {
                $('#tbody').empty();
                $.each(data, function (key, item) {
                    var total = item.quantity * item.charge;
                    var gtotal = total + item.vat + item.serviceCharge;
                    var drCode = '';
                    if (item.refDrName == 'N/A') { drCode = ''; } else { drCode = "(" + item.refDrName + ")"; }
                    var html = "";
                    html += "<tr>";
                    html += "<td class='none'>" + item.itemId + "</td>";
                    html += "<td>" + item.description + drCode + "</td>";
                    html += "<td>" + item.charge + "</td>";
                    html += "<td>" + item.quantity + "</td>";
                    html += "<td>" + total + "</td>";
                    html += "<td>" + item.vat + "</td>";
                    html += "<td>" + item.serviceCharge + "</td>";
                    html += "<td>" + gtotal + "</td>";
                    html += "<td>" + item.adjustAmount + "</td>";
                    html += "<td>" + item.lessAmount + "</td>";
                    html += "<td>" + item.returnAmount + "</td>";
                    html += "<td>" + item.collAmt + "</td>";
                    html += "</tr>";
                    $('#tbody').append(html);
                    var totalDue = sumColumn(8) - (sumColumn(9) + sumColumn(10) + sumColumn(11) + sumColumn(12));
                    $('#txtTotalDue').text("DUE: "+totalDue);
                });
            },
            error: function (errormessage) { alert(errormessage.responseText); }
        });
    }

</script>
